div {
    margin: auto;
    position:relative;
    left: 20%;
    padding: 2% 1%;
}

h1 {
    font-family: system-ui , sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-family: system-ui , sans-serif;
    font-size: 1.8em;
}

h3 {
    padding-top: 0;
    margin-top: 0.1%;
    position:relative;
    left: -1%;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:a;
}

li {
    padding-bottom: 0.1%
}

ul {
    padding-bottom: 1.5%;
}

.social {
    color:black;
    white-space: nowrap;
}

a:hover {
    color:#4940cf;
    transition: color 0.4s;
}

